<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'scaffold' %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="noindex, nofollow" />
  <%= csrf_meta_tag %>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>