<h1>Listing sounds</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sounds.each do |sound| %>
  <tr>
    <td><%= sound.number %></td>
    <td><%= sound.title %></td>
    <td><%= link_to 'Show', admin_sound_path(sound) %></td>
    <td><%= link_to 'Edit', edit_admin_sound_path(sound) %></td>
    <td><%= link_to 'Destroy', admin_sound_path(sound), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sound', new_admin_sound_path %>
