<div id="sounds" class="content-pane">
  <div id="sounds-list">
    <h2><img src="images/sound-icon.png" /><span>Sons</span></h2>
  <% @sounds.each do |medium| %>
    <h3 class="sound-title<%= ' title' unless medium.desc.empty? %>"><a href="<%= medium.url %>" class="sc-player"><%= medium.title %></a></h3>
    <div class="desc">
      <%= raw medium.desc_h %>
    </div>
  <% end %>
    <h2 id="videos-title"><img src="images/video-icon.png" /><span>Videos</span></h2>
  <% @videos.each do |medium| %>
    <h3 class="video-title<%= ' title' unless medium.desc.empty? %>"><a href="<%= medium.url %>" rel="pretty-photo"><img src="images/play.png" /><span><%= medium.title %></span></a></h3>
    <div class="desc">
      <%= raw medium.desc_h %>
    </div>
  <% end %>
  </div>
</div>
