<p>
  <b>Number:</b>
  <%= @medium.number %>
</p>
<p>
  <b>Type:</b>
  <%= @medium.type %>
</p>
<p>
  <b>Title:</b>
  <%= @medium.title %>
</p>
<p>
  <b>URL:</b>
  <%= @medium.url %>
</p>
<p>
  <b>Description:</b>
  <%= raw @medium.desc_h %>
</p>



<%= link_to 'Edit', edit_admin_medium_path(@medium) %> |
<%= link_to 'Back', admin_media_path %>
