<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header_common' %>
  <%= stylesheet_link_tag 'pretty-photo' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'mootools-1.2.4-base', 'Class.Mutators.jQuery', 'home', 'soundmanager/soundmanager2', 'soundcloud.player.api', 'sc-player', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js', 'jquery.prettyPhoto' %>
  <%= render 'layouts/analytics' %>
</head>
<body>
<div id="left-bg">&nbsp;</div>
<div id="right-bg"></div>
<div id="page">
<%= yield %>
</div>
<div id="trame-control"></div>
</body>
</html>
